pandas
numpy
scikit-learn
scipy
imbalanced-learn
matplotlib
seaborn
plotly
joblib

psycopg2-binary
sqlalchemy

mlflow
optuna

fastapi
uvicorn
pydantic

evidently
prometheus-client

dvc
dvc-gs

python-dotenv
pyyaml
hydra-core
loguru

pytest
black
flake8

boto3
s3fs


pyodbc
xgboost
lightgbm